version: '3.8'
services:
  kerberos-kdc:
    build:
      context: ./docker
      dockerfile: Dockerfile.kdc
    container_name: kerberos-kdc
    ports:
      - "1088:88"
      - "1749:749"
    volumes:
      - krb5-keytab:/etc/krb5.keytab
    depends_on:
      - ldap

  rkerberos-test:
    build: .
    container_name: rkerberos-test
    environment:
      - LANG=C.UTF-8
      - KRB5_CONFIG=/etc/krb5.conf
      - KRB5_ADMIN_PRINCIPAL=admin/admin@EXAMPLE.COM
      - KRB5_ADMIN_PASSWORD=adminpassword
      # LDAP test variables for integration tests
      - KRB5_LDAP_PRINCIPAL=admin@ldap
      - KRB5_LDAP_PASSWORD=admin
      - KRB5_LDAP_DRIVER=ou=People,dc=example,dc=com:foobar:uid
    working_dir: /app
    depends_on:
      - kerberos-kdc

  ldap:
    image: osixia/openldap:latest
    container_name: ldap
    environment:
      LDAP_ORGANISATION: "Example Org"
      LDAP_DOMAIN: "example.com"
      LDAP_BASE_DN: "dc=example,dc=com"
      LDAP_ADMIN_PASSWORD: "admin"
    ports:
      - "1389:389"

volumes:
  krb5-keytab:
